<a href="https://colab.research.google.com/github/Yassine-BenCheikh/Demo/blob/main/NL2SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install langchain_openai langchain_community langchain pymysql chromadb -q

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 31.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [ ]:
import mysql.connector

In [ ]:
# Define the connection parameters
config = {
    'user': 'root',
    'password': '123abc765KMBX',
    'host': '127.0.0.1',
    'database': 'sakila'
}

# Attempt to connect to MySQL
try:
    conn = mysql.connector.connect(**config)
    print("Connected to MySQL database!")
    # Optionally, you can execute queries here
    # cursor = conn.cursor()
    # cursor.execute("SELECT * FROM your_table")
    # rows = cursor.fetchall()
    # print(rows)
    # cursor.close()
    conn.close()
except mysql.connector.Error as err:
    print(f"Error: {err}")

Error: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)

In [ ]:
import mysql.connector

# Connect to MySQL Server
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123abc765KMBX',
    database='classicmodels'
)

# Execute a sample query
cursor = connection.cursor()
cursor.execute("SELECT * FROM customers LIMIT 10")

# Fetch and print results
for row in cursor.fetchall():
    print(row)

# Close connection
connection.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

In [ ]:
!systemctl status mysql

System has not been booted with systemd as init system (PID 1). Can't operate.
Failed to connect to bus: Host is down

In [ ]:
!service mysql status

mysql: unrecognized service

In [ ]:
  !systemctl start mysql

System has not been booted with systemd as init system (PID 1). Can't operate.
Failed to connect to bus: Host is down

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

In [ ]:
import mysql.connector

In [ ]:

host = 'localhost'  # This could be an IP address or domain name
user = 'root'
password = '123abc765KMBX'
database = 'classicmodels'

# Establish connection
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

In [ ]:
print(mysql.connector.__version__)

8.3.0

In [ ]:
!service mysql status

mysql: unrecognized service

In [ ]:
!service mysql start

mysql: unrecognized service